.score{
    display: flex;justify-content:space-between;
    max-width: 700px;
    border: 1px solid #5E6C84;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
    color:#fff;
  }
  .score h1{
    
    font-size: 28px;
    line-height: 24px;
    font-weight: 600;
    margin:0;
  }
  .score-number{
    font-size: 64px;
    background-color: #F3F3F3;
    border-radius: 10px;
    color: #565468;
    min-width: 150px;
    padding:20px;text-align: center;
    font-weight: 700;
    line-height: 1em;
  
  }
  .score-number label{
    font-size: 16px;
    color: #2A45C2;
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    font-weight: 600;
    flex: 1 1;
    line-height: 1em;
    
  }
  